@font-face {
    font-family: "PT Sans";
    src: url("fonts/PT Sans Regular.ttf");
}

body {
    font-family: "PT Sans";
    font-size: 13px;
    margin: 0px;
}

.App {
    min-height: 100vh;
}

.TopBar {
    height: 50px;
    font-size: 25px;
    min-width: 300px;
    color: grey;
    background-color: whitesmoke;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    user-select: none;
    cursor: default;
}

.TopBar .Logo {
    height: 25px;
    padding: 12px 15px;
}

.TopBar .Title {
    padding: 10px 0px;
}

.QuestionContainer {
    background-color: #7F8C8D;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 50px;
    height: 100%;
}

.QuestionContainer .Title {
    font-size: 80px;
    padding-top: 150px;
}

.QuestionContainer .Body {
    font-size: 50px;
    padding-top: 50px;
}

.QuestionContainer .Answers {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    padding: 50px 100px 50px 100px;
    user-select: none;
}

.QuestionContainer .InputValue {
    font-size: 30px;
    width: 50px;
    padding: 20px 0px 10px 0px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0px;
    background-color: transparent;
    width: 40%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background-color: #E8E8E8;
    border-radius: 15px;
}

input[type=range]::-webkit-slider-thumb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #87C7C1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -12px;
    transition: 0.2s;
}

input[type=range]:active::-webkit-slider-thumb {
    box-shadow: 4px 4px 20px 0px #787878;
    height: 35px;
    width: 35px;
    margin-top: -15px;
}

.QuestionContainer .OkButton {
    padding: 15px 30px 10px 30px;
    border-radius: 10px;
    background-color: #93B2C0;
    transition: 0.2s;
    cursor: pointer;
    font-size: 36px;
    margin-left: 30%;
}

.QuestionContainer .OkButton:hover {
    opacity: 0.8;
}

.QuestionContainer .Back {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    width: 20%;
    bottom: 50px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    user-select: none;
    transition: 0.2s;
}

.QuestionContainer .Back:hover {
    opacity: 0.5;
}

.QuestionContainer .BackButton {
    height: 36px;
    cursor: pointer;
}

.QuestionContainer .BackButtonDesc {
    font-size: 20px;
    padding-left: 10px;
}

.MainPage {
    background-color: white;
    padding-top: 50px;
    width: 100%;
}

.MainPage .Header {
    font-size: 60px;
    color: grey;
    background-color: whitesmoke;
    padding: 20px 0px 20px 55px;
    border-bottom: #E8E8E8 solid 1px;
}

.MainPage .UserList {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
    justify-content: center;
}

.UserCard {
    border-radius: 5px;
    background-color: #53B6E1;
    margin: 20px 40px;
    box-shadow: 4px 4px 20px 0px #eaeaea;
    transition: 0.2s;
}

.UserCard:hover {
    box-shadow: 4px 4px 20px 0px #908d8d;
    cursor: pointer;
}

.UserCard .NameCard {
    display: flex;
    background-color: #ececec;
    border-radius: 4px;
    padding: 15px 25px 5px 25px;
    width: 350px;
}

.UserCard .IndexImg {
    height: 60px;
    padding: 0px 0px 10px 0px;
}

.UserCard .IndexId {
    font-size: 55px;
    text-align: center;
    padding: 5px 15px 0 5px;
    color: #9c9890;
}

.UserCard .Detail {
    padding: 5px 10px 0px 20px;
}

.UserCard .Detail .Top {
    display: flex;
}

.UserCard .Detail .Icon {
    height: 30px;
    padding-right: 10px;
}

.UserCard .Detail .Name {
    color: #5298AB;
    font-size: 25px;
}

.UserCard .Detail .Bottom {
    color: #e48a82;
    font-size: 15px;
    padding-top: 5px;
}

.UserCard .MatchScore {
    padding: 10px 10px 10px 30px;
    color: white;
}

.UserDetail {
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    max-width: 40%;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 1px 5000px rgba(14, 14, 14, 0.80);
    border-radius: 5px;
}

.UserDetail .Top {
    height: 150px;
    background-color: #9da9bd;
    border-radius: 5px;
    text-align: right;
}

.UserDetail .CloseButton {
    height: 15px;
    padding: 10px;
    opacity: 0.6;
    transition: 0.2s;
}

.UserDetail .CloseButton:hover {
    opacity: 0.9;
    height: 18px;
    cursor: pointer;
}

.UserDetail .Icon {
    position: relative;
    margin-top: -50px;
    z-index: 1;
    height: 100px;
    transition: 0.1s;
}

.UserDetail .Icon:hover {
    margin-top: -60px;
    height: 120px;
    cursor: pointer;
}

.UserDetail .Answers {
    padding: 20px 20px 0px 20px;
    max-height: 300px;
    overflow: auto;
}

.UserDetail .QuestionAndAnswer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #efebd2;
    border-radius: 5px;
    color: #6b6b6b;
    font-size: 15px;
}

.UserDetail .Question {
    width: 75%;
    text-align: left;
}

.UserDetail .Answer {
    width: 25%;
    text-align: right;
}