@font-face {
    font-family: "PT Sans";
    src: url("fonts/PT Sans Regular.ttf");
}

body {
    font-family: "PT Sans";
    font-size: 13px;
    margin: 0px;
}

.App {
    min-height: 100vh;
}

.TopBar {
    height: 50px;
    font-size: 25px;
    min-width: 300px;
    color: grey;
    background-color: whitesmoke;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    user-select: none;
    cursor: default;
}

.TopBar .Logo {
    height: 25px;
    padding: 12px 15px;
}

.TopBar .Title {
    padding: 10px 0px;
}

.QuestionContainer {
    background-color: #7F8C8D;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 50px;
    height: 100%;
}

.QuestionContainer .Title {
    font-size: 80px;
    padding-top: 200px;
}

.QuestionContainer .Body {
    font-size: 50px;
    padding-top: 50px;
}

.QuestionContainer .Answers {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    padding: 50px 100px 50px 100px;
    user-select: none;
}

.QuestionContainer .Answer1,
.QuestionContainer .Answer2 {
    padding: 15px 30px 10px 30px;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.QuestionContainer .Answer1 {
    background-color: #36D7B7;
}

.QuestionContainer .Answer2 {
    background-color: #B3C1C2;
}

.QuestionContainer .Back {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    width: 20%;
    bottom: 50px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    user-select: none;
    transition: 0.2s;
}

.QuestionContainer .Answer1:hover,
.QuestionContainer .Answer2:hover,
.QuestionContainer .Back:hover {
    opacity: 0.8;
}

.QuestionContainer .BackButton {
    height: 36px;
    cursor: pointer;
}

.QuestionContainer .BackButtonDesc {
    font-size: 20px;
    padding-left: 10px;
}

.MainPage {
    background-color: white;
    padding-top: 50px;
    width: 100%;
}

.MainPage .Header {
    font-size: 60px;
    color: grey;
    background-color: whitesmoke;
    padding: 20px 0px 20px 55px;
    border-bottom: #E8E8E8 solid 1px;
}

.MainPage .UserList {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
    justify-content: center;
}

.UserCard {
    border-radius: 5px;
    background-color: #53B6E1;
    margin: 20px 40px;
    box-shadow: 4px 4px 20px 0px #eaeaea;
    transition: 0.2s;
}

.UserCard:hover {
    box-shadow: 4px 4px 20px 0px #908d8d;
    cursor: pointer;
}

.UserCard .NameCard {
    display: flex;
    background-color: #ececec;
    border-radius: 4px;
    padding: 15px 25px 5px 25px;
    width: 350px;
}

.UserCard .IndexImg {
    height: 60px;
    padding: 0px 0px 10px 0px;
}

.UserCard .IndexId {
    font-size: 55px;
    text-align: center;
    padding: 5px 15px 0 5px;
    color: #9c9890;
}

.UserCard .Detail {
    padding: 5px 10px 0px 20px;
}

.UserCard .Detail .Top {
    display: flex;
}


.UserCard .Detail .Icon {
    height: 30px;
    padding-right: 10px;
}

.UserCard .Detail .Name {
    color: #5298AB;
    font-size: 25px;
}

.UserCard .Detail .Bottom {
    color: #e48a82;
    font-size: 15px;
    padding-top: 5px;
}

.UserCard .MatchScore {
    padding: 10px 10px 10px 30px;
    color: white;
}